*,
*::before,
*::after {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* FOR LOGIN FORM */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* FOR LOGIN FORM */
[contenteditable="true"]:focus {
  outline: none;
}

body {
  font-family: "Open Sans";
  color: #5e5e5e;
  margin: 0;
  padding: 0;
  overflow-y: overlay;
  overflow-x: hidden;
}

h1 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 54px;
  line-height: 65px;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

h2 {
  position: relative;
  font-family: Montserrat;
  color: #0075c1;
  font-size: 2.7em;
  font-weight: 600;
  line-height: 53px;
  padding-top: 1.2rem;
}

h2::after {
  content: "";
  position: absolute;
  top: 2em;
  right: calc(50% - 25px);
  width: 50px;
  height: 2px;
  background-color: #c8c8c8;
  margin: 0px auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
}

li {
  float: left;
  position: relative;
}

li a {
  color: #333;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1em 1.2em;
}

li a:hover {
  color: #6dacd5;
}

section {
  display: -ms-grid;
  display: grid;
  text-align: center;
  border: 2px solid black;
  margin: auto;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: white;
  width: 100%;
  z-index: 100;
}

label {
  color: #333;
  display: block;
}

input {
  width: auto;
}

.mainsection {
  height: 100vh;
}

.top-row-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  margin: auto 0;
  padding: 1rem 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-img {
  -webkit-transform: scale(1);
          transform: scale(1);
  margin: auto 0;
  margin-left: 3.2rem;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.trans {
  padding: 0.2rem 0;
}

.transform {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.trs {
  background-color: rgba(255, 255, 255, 0.75);
}

.top-row-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  text-align: center;
  margin-right: 3.2em;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  /* background: linear-gradient(),rgba(21,38,54,1)), url(images/medical/main_header.jpg); */
  background: -webkit-gradient(linear, left top, right top, from(rgba(21, 38, 54, 0.4)), color-stop(50%, rgba(21, 38, 54, 0.2)), to(rgba(21, 38, 54, 0.4))), url(https://img1.wsimg.com/isteam/stock/2397);
  background: linear-gradient(to right, rgba(21, 38, 54, 0.4) 0%, rgba(21, 38, 54, 0.2) 50%, rgba(21, 38, 54, 0.4) 100%), url(https://img1.wsimg.com/isteam/stock/2397);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position-y: 14%;
  text-align: center;
  padding: 0.5em;
  -webkit-transition: initial;
  transition: initial;
  width: 100%;
}

.header-row div {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0;
  padding: 6rem 0;
}

.topMargin {
  margin-top: 6.7rem;
}

#inner-box {
  width: 100%;
  margin: auto 0;
  /* Vertical alignment */
  -webkit-transition: initial;
  transition: initial;
}

.nested {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px auto;
      grid-template-columns: 30px auto;
  grid-gap: 0.5em;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  display: inline-block;
  padding: 1em 2em;
  background-color: #0075c1;
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0082d6;
}

.ac {
  text-transform: uppercase;
}

.navbar {
  position: relative;
}

.required {
  color: #c31;
}

.selectedInput {
  position: relative;
  border: 1px solid red;
}

.form_section {
  position: relative;
  margin-top: 0px;
}

/* REGISTER BUTTON IN LOGIN BOX */
.reg {
  display: inline;
  background-color: #eee;
  border: 1px solid #fff;
  padding: 0.1em 1.5em;
  margin: 5px 0 10px 10px;
  font-size: 0.9em;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.reg:hover {
  background-color: #aaa;
  border: 1px solid #aaa;
}

/* FORGOT PASWORD LINK IN LOGIN BOX */
.fpw {
  color: #333;
  text-decoration: underline;
  display: inline-block;
  left: 5px;
  position: relative;
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */
  font-size: 0.85em;
  padding-left: 0.5em;
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */
  font-size: 0.85em;
  padding-left: 0.5em;
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */
  font-size: 0.85em;
  padding-left: 0.5em;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */
  font-size: 0.85em;
  padding-left: 0.5em;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
  font-size: 0.9em;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
  font-size: 0.9em;
}

.abContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 4rem;
}

.abColumn {
  margin-right: 2em;
}

.abColumn:last-of-type {
  margin-right: 0;
}

.abImage1 {
  height: 223px;
  width: auto;
  -webkit-clip-path: circle(39% at 65% 50%);
          clip-path: circle(39% at 65% 50%);
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}

.abImage2,
.abImage3 {
  height: 223px;
  width: auto;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.blueButton {
  display: inline-block;
  padding: 1em 2em;
  background-color: #0075c1;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1em;
}

.blueButton:hover {
  background-color: #0082d6;
}

.blueButton:focus {
  outline: none;
}

.alert {
  padding: 0.5em 1em;
  font-size: 0.8em;
  border-radius: 6px;
  font-family: "Segoe UI";
}

.alert-danger {
  background-color: #ffccd7;
  color: #85001e;
}

.alert-success {
  background-color: #d9f0d1;
  color: #215f0c;
}

.loggedInBox {
  background-color: #eee;
  border: 1px solid #333;
  min-height: 3em;
  padding: 1em 2em;
  margin-bottom: 2em;
  color: #333;
}

.userInfoRow {
  display: -ms-grid;
  display: grid;
  grid-gap: .5em;
  -ms-grid-columns: 220px auto;
      grid-template-columns: 220px auto;
  padding: .5em 0;
  border-bottom: 1px solid #ccc;
}

.userInfoVar {
  font-weight: bold;
}

.userInfoVal {
  font-weight: initial;
}
/*# sourceMappingURL=style.css.map */