/*
 * SCSS LOGIC
 *
 */
/*
 * START CSS
 *
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  color: #5e5e5e;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 0.8em;
}

h1 {
  font-family: "Montserrat";
  font-size: 4.6875em;
  line-height: 1.167em;
  font-weight: 600;
  margin-bottom: 1em;
}

h2 {
  position: relative;
  font-family: "Montserrat";
  color: #0075c1;
  font-size: 2.7em;
  font-weight: 600;
  margin-top: 1em;
}

h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  top: 1.8em;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background-color: #c8c8c8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
}

li a {
  text-decoration: none;
  padding: 0 1.5em;
  color: #333;
}

li a:hover {
  color: #6dacd5;
}

label {
  color: #333;
  display: block;
}

section {
  display: -ms-grid;
  display: grid;
  text-align: center;
  border-bottom: 2px solid black;
  margin: auto;
}

input {
  width: auto;
}

/*
 * NAVBAR
 *
 */
.navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: white;
  border-bottom: 1px solid #c8c8dc;
}

.flex-wrapper ul {
  overflow: hidden;
}

.flex-wrapper li {
  float: left;
}

.top-row-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: .8em 0;
  -webkit-transition: padding 400ms ease;
  transition: padding 400ms ease;
}

.logo-img {
  margin-left: 3.2rem;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.top-row-links, .login-links {
  margin: auto 0;
}

.top-row-links {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  margin-right: 3.2rem;
}

.login-links {
  float: right;
  margin-right: 4rem;
}

.trans {
  padding: 0.2em 0;
}

.transform {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.trs {
  background-color: rgba(255, 255, 255, 0.75);
}

/*
 * HOME | HEADER
 *
 */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(rgba(21, 38, 54, 0.5)), color-stop(50%, rgba(21, 38, 54, 0.3)), to(rgba(21, 38, 54, 0.5))), url(https://img1.wsimg.com/isteam/stock/2397);
  background: linear-gradient(to right, rgba(21, 38, 54, 0.5) 0%, rgba(21, 38, 54, 0.3) 50%, rgba(21, 38, 54, 0.5) 100%), url(https://img1.wsimg.com/isteam/stock/2397);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  text-align: center;
  padding: 0.5em;
  -webkit-transition: initial;
  transition: initial;
  width: 100%;
  height: 80vh;
}

header #inner-box {
  position: relative;
  display: block;
  padding: 6rem 0;
  margin: auto;
  -webkit-transition: initial;
  transition: initial;
  z-index: 1;
}

header #inner-box h1 {
  color: #fff;
}

header #inner-box .button {
  font-size: 14px;
  margin-bottom: 1rem;
  width: 80%;
  max-width: 300px;
}

header #inner-box .button:hover {
  background-color: #0082d6;
}

/*
 * BUTTONS
 *
 */
.button, .login-button, .loginpage-button, .blueButton {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.button, .blueButton {
  padding: 1em 2em;
  background-color: #0075c1;
  color: #fff;
}

.button:hover, .blueButton:hover {
  background-color: #0082d6;
}

.button {
  font-size: 14px;
}

.login-button {
  padding: .8em 1.6em;
  background-color: white;
  color: #008fe1;
  font-size: 0.9em;
  border: 2px solid #008fe1;
}

.login-button:hover {
  background-color: #008fe1;
  color: #fff;
}

.blueButton {
  font-size: 0.9em;
  margin-top: 1em;
}

.blueButton:focus {
  outline: none;
}

.loginpage-button {
  padding: .8em 1.6em .8em 1.4em;
  background-color: #008fe1;
  color: #fff;
  font-size: 1em;
  margin: auto;
  text-align: center;
}

.loginpage-button:hover {
  background-color: #00a0f0;
}

.link {
  color: #0075c1;
  text-decoration: none;
}

.smallLink {
  font-size: 0.9em;
}

/*
 * GENERAL
 *
 */
.mainsection {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
  z-index: 2;
}

/* FOR LOGIN FORM */
input:focus,
select:focus,
textarea:focus,
button:focus,
[contenteditable="true"]:focus {
  outline: none;
}

/*
 * FOOTER
 *
 */
.footer {
  text-align: center;
  margin: auto;
}

.footer-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 3em 8em;
}

.footer-children {
  font-size: 0.9em;
}

.footer-children:first-of-type {
  text-align: left;
}

.footer-children:last-of-type {
  color: #999;
  text-align: right;
}

.nested {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px auto;
      grid-template-columns: 30px auto;
  grid-gap: 0.5em;
}

.abContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
  width: 75%;
  margin: 0px auto;
  padding-bottom: 4em;
}

.abContainer h3 {
  margin-top: 1em;
}

.abImage1,
.abImage2,
.abImage3 {
  height: auto;
  width: 100%;
}

.abImage1,
.abImage2,
.abImage3 {
  -webkit-clip-path: circle();
          clip-path: circle();
}

.abImage1 {
  -webkit-clip-path: circle(39% at 65% 50%);
          clip-path: circle(39% at 65% 50%);
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}

/*
 * MARGINS & POSITIONING
 *
 */
.topMargin {
  margin-top: 6em;
}

.topExtraMargin {
  margin-top: 10em;
}

.leftMargin {
  margin-left: 2rem;
}

.centered {
  text-align: center;
}

.marginCentered {
  margin: 0px auto;
}

.rightPos {
  position: absolute;
  right: 25%;
}

.rightFloat {
  float: right;
  margin-right: 25%;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
 * LOGIN PAGE - XCEL CLONE
 *
 */
.login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.6fr 1fr;
      grid-template-columns: 1.6fr 1fr;
  grid-gap: 2em;
  width: 66%;
  margin: 0px auto;
}

.login-container h3 {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 400;
  color: #222;
}

.login-box, .login-info {
  position: relative;
  padding: 2rem;
  width: 100%;
  background-color: #f7f8fa;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.login-box {
  min-width: 200px;
  padding: 2rem 4rem;
}

.login-box div {
  text-align: left;
}

.login-info {
  padding: 2rem;
  color: #222;
  text-align: left;
}

.login-info h3 {
  text-align: center;
}

.login-info ul {
  text-align: left;
  list-style-type: circle;
  margin-left: 20px;
  margin-top: 25px;
  font-size: 0.9em;
}

.login-info ul li {
  padding-top: 5px;
}

.login-info div {
  position: absolute;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.signUpLink {
  position: relative;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.remember {
  margin-left: 2px;
}

.login-label {
  margin-bottom: 10px;
  position: relative;
  margin-left: 2px;
  color: #222;
}

.login-text {
  vertical-align: middle;
  font-size: 0.9em;
}

.login-input {
  width: 100%;
  height: 2.5em;
  padding: 5px;
}

.loginLink {
  text-align: right;
  margin-right: 5px;
  margin-top: 5px;
}

.buttonContainer {
  text-align: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  float: right;
}

.regLink {
  margin-right: 5px;
}

.loginpage-button {
  padding: .8em 1.6em .8em 1.4em;
  background-color: #008fe1;
  color: #fff;
  font-size: 14px;
  margin: auto;
  text-align: right;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
}

.loginpage-button:hover {
  background-color: #00a0f0;
}

.req {
  color: #d63333;
  font-weight: 900;
}

.faqContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.faq {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: auto;
  height: auto;
}

.faq h3 {
  font-family: "Roboto", Montserrat, "Open Sans", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  font-size: 1.1rem;
  font-weight: 500;
  color: #5e5e5e;
}

.faq p {
  font-family: "Roboto", "Open Sans", Helvetica, Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "sans-serif";
  font-size: .9rem;
  color: #5e5e5e;
  font-weight: 400;
  line-height: 1.4rem;
}

.faqImgContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 4em;
  margin-top: 1rem;
}

.faqImg {
  width: 100%;
  height: auto;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */
  font-size: 0.85em;
  padding-left: 0.5em;
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */
  font-size: 0.85em;
  padding-left: 0.5em;
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */
  font-size: 0.85em;
  padding-left: 0.5em;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */
  font-size: 0.85em;
  padding-left: 0.5em;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
  font-size: 0.9em;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
  font-size: 0.9em;
}

/*
 * USER PORTAL - ACCOUNT INFO
 *
 */
.userInfoRow {
  display: -ms-grid;
  display: grid;
  grid-gap: .5em;
  -ms-grid-columns: 220px auto;
      grid-template-columns: 220px auto;
  padding: .5em 0;
  border-bottom: 1px solid #ccc;
}

.userInfoVar {
  font-weight: bold;
}

.userInfoVal {
  font-weight: initial;
}

.loader {
  width: auto;
  height: 30px;
}

.validating {
  top: 7px;
  right: 7px;
  z-index: 200;
  height: 16px;
  width: 16px;
  background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
}

.alert {
  padding: 0.5em 1em;
  font-size: 0.8em;
  border-radius: 6px;
  font-family: "Segoe UI";
}

.alert-danger {
  background-color: #ffccd7;
  color: #85001e;
}

.alert-success {
  background-color: #d9f0d1;
  color: #215f0c;
}

.flashMessage {
  width: 50%;
  padding: 1em 4em;
  margin: 2em 0;
  text-align: left;
  background-color: #fff8bb;
  border-left: 5px solid #ffeb3b;
}

.flashTest {
  display: initial;
  position: absolute;
  top: 20%;
  right: 66%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: display 200ms ease;
  transition: display 200ms ease;
  padding: 1em 4em;
  text-align: left;
  background-color: #fff8bb;
  border-left: 5px solid #ffeb3b;
}

.hidden {
  display: none;
}

.offlineMessage {
  width: 100%;
  padding: .6em;
  background-color: #0075c1;
  color: white;
  font-size: 0.8em;
  text-align: center;
}

.loaderIcon {
  height: 20px;
  width: auto;
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.closeButton::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 3px;
  right: 4px;
  height: 20px;
  width: 20px;
  right: -5px;
  -webkit-clip-path: circle();
          clip-path: circle();
  background-color: #ccc;
  cursor: pointer;
}

/*
 * TABS
 *
 */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1.5em;
  height: 50vh;
}

.tabcontent h3, .tabcontent h4, .tabcontent h5 {
  margin: 0;
  padding: 0;
}

/*
 * PORTAL
 *
 */
.portalWrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(auto, 400px);
      grid-template-columns: 1fr minmax(auto, 400px);
  grid-gap: 2em;
  width: 80%;
  max-width: 1000px;
  margin: 40px auto;
  margin-bottom: 100px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.portalIntroWrapper {
  position: relative;
}

.portalIntroWrapper h3 {
  position: relative;
  display: inline-block;
}

.portalEvents {
  position: relative;
  width: 100%;
  background-color: #f7f8fa;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.portalEventsInner {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}

.portalEventsInner h4 {
  padding: 0;
  margin: 0;
  margin-bottom: .6em;
}

.portalEventsInner input {
  position: relative;
  width: 100%;
  border: none;
  padding: 1em;
  font-size: .8em;
  color: #666;
}

.portalEventsInner input::-webkit-input-placeholder,
.portalEventsInner input:-moz-placeholder,
.portalEventsInner input::-moz-placeholder,
.portalEventsInner input:-ms-input-placeholder {
  color: #ccc !important;
  text-transform: uppercase;
}

.portalEventsInner .eventsList {
  position: relative;
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
}

.userEvents {
  position: relative;
  padding: 1em;
  background-color: #fff;
}

#eventsList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#eventsList::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

#eventsList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888;
}

#eventsList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  position: relative;
}

.eventLi {
  position: relative;
  display: block;
  border-bottom: 1px solid #999;
  padding: 1em;
  font-size: 0.75em;
}

.eventLi:last-of-type {
  border-bottom: none;
}

.iconWrapper {
  position: relative;
  float: right;
  z-index: 1;
}

.feather {
  position: relative;
  color: #333;
  cursor: pointer;
  height: 16px;
  width: auto;
  opacity: 1;
  z-index: 2;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.feather:hover {
  opacity: 0.6;
}

.addButton {
  float: right;
}

.calendarButton {
  margin-right: 1em;
}

.eventDate {
  font-size: 0.8em;
}

h1, h2, h3 {
  font-family: "Open Sans Condensed";
}

.electives, .core {
  position: relative;
  display: inline;
  color: #fff;
  /* font-style: italic; */
  font-family: "Lato";
  text-transform: uppercase;
  margin-left: 8px;
}

.core::after, .electives::after {
  position: absolute;
  content: '';
  top: -2px;
  bottom: -2px;
  left: -8px;
  right: -8px;
  border-radius: 4px;
  z-index: -4;
}

.core::after {
  background-color: #f04f4a;
  /* #3474B9; #274888; */
}

.electives::after {
  background-color: #569CD3;
  /* #3474B9; #274888; */
}

/* Set the size of the div element that contains the map */
#map {
  margin: 0;
  padding: 0;
  height: 600px;
  width: 80%;
  max-width: none;
}

#map img {
  max-width: none !important;
}

.gm-style-iw {
  position: relative;
  width: 200px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
          box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  /* border-radius: 2px 2px 10px 10px; */
  border-radius: 10px;
  /* opacity: .01;
  transition: opacity 2000ms ease; */
  z-index: -5;
}

#iw-container {
  margin-bottom: 10px;
  width: 200px;
  overflow-x: hidden;
}

#iw-container .iw-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 22px;
  font-weight: 400;
  width: 180px;
  padding: 10px 10px 10px 10px;
  background-color: #3474b9;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
}

#iw-container .iw-content {
  width: 200px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 0px;
  padding: 15px 0px 20px 15px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}

.iw-content img {
  float: right;
  margin: 0 0px 5px 10px;
}

.iw-content ul {
  /* margin:0; */
  padding: 0 0 0 2em;
  list-style-type: circle;
}

.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0px 2px;
}

.iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 45px;
  bottom: 0px;
  right: 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}

.xbg::after {
  content: "";
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  background-color: #fff;
  border: 2px solid #fff;
  -webkit-clip-path: circle();
          clip-path: circle();
  z-index: -3;
  float: right;
}

/*--------------------
Mixins
--------------------*/
@-webkit-keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8) scaleX(0.8);
            transform: translateY(0) scaleY(0.8) scaleX(0.8);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8) scaleX(0.8);
            transform: translateY(0) scaleY(0.8) scaleX(0.8);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

/*--------------------
Button
--------------------*/
.btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 10px;
}

.btn button {
  border: 2px solid #0a7fad;
  border-radius: 20px;
  color: #0a7fad;
  text-transform: uppercase;
  background: none;
  padding: 11px 46px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
  height: 40px;
  width: 177px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn button:hover {
  background: #0a7fad;
  color: #fff;
}

.btn.loading::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  -webkit-clip-path: circle();
          clip-path: circle();
  background: #fff;
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

.btn.loading button {
  font-size: 0;
  width: 40px;
  background: #0a7fad;
}

.btn.loading button::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  -webkit-clip-path: circle();
          clip-path: circle();
  background: #fff;
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -10px;
}

.btn.loading button::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  -webkit-clip-path: circle();
          clip-path: circle();
  background: #fff;
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 10px;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

/*--------------------
Message
--------------------*/
.message {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  width: 360px;
  height: 145px;
  color: #fff;
  background: linear-gradient(135deg, #0a4d79, #2b8fa8);
  border-radius: 120px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  padding: 36px;
  -webkit-transition: all .3s ease-in-out .3s;
  transition: all .3s ease-in-out .3s;
  -webkit-transform: scale(0) translate(-50%, -100%);
          transform: scale(0) translate(-50%, -100%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.message .title {
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  margin-bottom: 12px;
  position: relative;
  -webkit-transition: all .3s ease-in-out .2s;
  transition: all .3s ease-in-out .2s;
  -webkit-transform: scale(0) translateY(-20%);
          transform: scale(0) translateY(-20%);
  opacity: 0;
  -webkit-backface-visibility: hidden;
}

.message .msg {
  font-size: 14px;
  line-height: 1.4;
  font-style: italic;
  position: relative;
  -webkit-transition: all .3s ease-in-out .1s;
  transition: all .3s ease-in-out .1s;
  -webkit-transform: scale(0) translateY(-20%);
          transform: scale(0) translateY(-20%);
  opacity: 0;
  -webkit-backface-visibility: hidden;
}

.message .close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  cursor: pointer;
  width: 18px;
  height: 18px;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  -webkit-transform: scale(0) translateY(-20%);
          transform: scale(0) translateY(-20%);
  opacity: 0;
}

.message .close svg {
  width: 18px;
  height: 18px;
}

.message.message-error {
  background: linear-gradient(135deg, #f0223e, #f34238);
}

.message.active {
  opacity: 1;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: all 0.3s cubic-bezier(0, 1.07, 0.48, 1.11) 0.1s;
  transition: all 0.3s cubic-bezier(0, 1.07, 0.48, 1.11) 0.1s;
  border-radius: 12px;
}

.message.active .title {
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0, 1.07, 0.48, 1.11) 0.3s;
  transition: all 0.3s cubic-bezier(0, 1.07, 0.48, 1.11) 0.3s;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.message.active .msg {
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0, 1.07, 0.48, 1.11) 0.4s;
  transition: all 0.3s cubic-bezier(0, 1.07, 0.48, 1.11) 0.4s;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.message.active .close {
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0, 1.07, 0.48, 1.11) 0.55s;
  transition: all 0.3s cubic-bezier(0, 1.07, 0.48, 1.11) 0.55s;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.message.closing {
  opacity: 0;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
}

.message.closing .title,
.message.closing .msg,
.message.closing .close {
  opacity: 0;
  -webkit-transform: scale(0) translateY(0);
          transform: scale(0) translateY(0);
}

/********************************************************************
 *                          MEDIA QUERIES
 *
 *******************************************************************/
@media (min-width: 1096px) and (max-width: 1230px) {
  .top-row-links {
    font-size: 0.9em;
  }
  .login-links {
    font-size: 0.9em;
  }
}

@media (min-width: 961px) and (max-width: 1096px) {
  .top-row-links {
    color: red;
  }
  .login-links {
    color: red;
  }
}

@media (max-width: 960px) {
  .top-row-links {
    display: none;
  }
  .login-links {
    display: none;
  }
  .menu-button {
    display: initial;
  }
}

@media (max-width: 1070px) and (min-width: 961px) {
  .abContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0px auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 4rem;
  }
  .abColumn {
    margin-right: 2em;
  }
  .abImage1,
  .abImage2,
  .abImage3 {
    height: 180px;
    width: auto;
  }
}

@media (max-width: 960px) {
  .abContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0px auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 4rem;
  }
  .abColumn {
    margin-right: 2em;
  }
  .abImage1,
  .abImage2,
  .abImage3 {
    height: 223px;
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */