
 /*
 * SCSS LOGIC
 *
 */

$colors: (
  fontMain: #5e5e5e,
  mainBlue: #0075c1,
  button: rgb(0, 117, 193),
  buttonHover: rgb(0, 130, 214),
  navButton: rgb(0, 143, 225),
  navButtonHover: rgb(0, 160, 240),
  navLink: #333,
  navLinkHover: #6dacd5,
  opaqueWhite: rgba(255, 255, 255, 0.75),
  containerGray: rgba(247, 248, 250, 1),
  sectionGray: rgb(245, 247, 248)
);

@function color($colorName) {
  @return map-get($colors, $colorName);
}




/*
 * START CSS
 *
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

// html {
//     // width: 100%;
//     // overflow-y: scroll;
// }

body {
  font-family: "Open Sans";
  color: color(fontMain);
  margin: 0;
  padding: 0;
  // overflow-y: overlay;
  // overflow-x: hidden;
  font-size: 0.8em;
}

h1 {
  font-family: "Montserrat";
  font-size: 4.6875em;
  line-height: 1.167em;
  font-weight: 600;
  margin-bottom: 1em;
}

h2 {
  position: relative;
  font-family: "Montserrat";
  color: color(mainBlue);
  font-size: 2.7em;
  font-weight: 600;
  margin-top: 1em;
}

h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  top: 1.8em;
  right: 50%;
  transform: translateX(50%);
  background-color: rgb(200, 200, 200);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
}

li a {
  text-decoration: none;
  color: color(navLink);
}

li a:hover {
  color: color(navLinkHover);
}

label {
  color: color(navLink);
  display: block;
}

section {
  display: grid;
  text-align: center;
  margin: auto;

  &:nth-of-type(even) {
    background-color: color(sectionGray);
  }
}

input {
  width: auto;
}



/*
 * NAVBAR
 *
 */

.navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.flex-wrapper {
  display: flex;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgb(200, 200, 220);

  li {
    float: left;
    margin-right: 3.5em;
    display: flex;
  }

  li:last-of-type {
    margin-right: 0;
  }
}

.top-row-logo {
  padding: .8em 0px;
  transition: padding 400ms ease;
}

// .logo-img {
//   margin-left: 3.2rem;
//   transform-origin: left;
//   transition: transform 400ms ease;
// }

.logoWrapper {
  display: flex;
  margin-left: 3.2rem;
}

.logoRightWrapper {
  display: flex;
  flex-direction: column;
}

.logoIcon {
  transition: transform 400ms ease;
  transform-origin: left;

  &.transform {
    transform: scale(0.66);
  }
}

.logoText {
  transition: transform 400ms ease;

  &.grow {
    transform: translateY(10px) translateX(-20px);
    transition: transform 400ms ease;
  }
}

.logoSubtext {
  opacity: 1;
  transform: scale(1);
  transform-origin: left;
  transition: opacity 400ms ease, transform 400ms ease;

  &.removed {
    opacity: 0;
    transform: scale(0);
    transform-origin: left;
    transition: opacity 400ms ease, transform 400ms ease;
  }
}

.top-row-links, .login-links {
  margin: auto;
}

.top-row-links {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: flex-end;
  
  & > ul {
    margin-right: 4em;
  }
}

.login-links {
  margin-right: 4rem;
}

.more-links {
  display: none !important;
  position: relative;
  transition: all 400ms ease;

  &:hover .more-links-popdown {
    display: initial;
  }
}

.more-text {
  position: relative;
  transition: all 400ms ease;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -16px;
    height: 10px;
    width: 10px;
    background-color: #666;
    transform: translateY(-25%);
    transition: all 400ms ease;
    clip-path: polygon(0 0, 50% 50%, 100% 0);
  }

  &:hover::after {
    background-color: color(navLinkHover);
    transition: all 400ms ease;
  }
  
  &:hover {
    color: color(navLinkHover);
    transition: all 400ms ease;
  }
}

.more-icon {
  margin: auto 0;
  margin-left: .4em;
  color: #333333;
  transform: rotate(0deg) translateY(25%);
  transform-origin: 67% 67%;
  transition: all 400ms ease;

  &.hovered {
    color: #6dacd5;
    transition: all 400ms ease;
  }

  &.opened {
    transform: rotateX(180deg) translateY(25%);
    transition: all 400ms ease;
  }
}

.more-links-popdown {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  padding-top: 20px;
  transform: translateX(-50%) translateY(100%);
}

.more-links-popdown-inner {
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  transition: all 2000ms ease; 

  ul {
    display: block;

    li {
      float: none;
      margin: 0;
      border-bottom: 1px solid rgba(0,0,0,0.3);
      display: block;

      a {
        display: inline-block;
        text-align: center;
        width: 150px;
        margin: 0;
        padding: 1em;
        cursor: pointer;
        color: black;
        transition: background-color 400ms ease;

        &:hover {
          background-color: rgb(245,247,248);
          // color: color(navLinkHover);
        }
      }
    }

    li:last-of-type {
      border-bottom: none;
    }
  }
}

.more-links-login {
  display: none !important;
}

.hamburger {
  display: flex;
}

.hamburger-icon {
  display: none !important;
  margin: auto 0;
  margin-right: 4em;
  stroke: #666;
  transform: scale(1.8);
}

.trans {
  padding: 0.2em 0;
}

.transform {
  transform: scale(0.75);
}

.trs {
  background-color: color(opaqueWhite);
}




/*
 * HOME | HEADER
 *
 */

header {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(10, 19, 27, 0.5) 0%,
      rgba(10, 19, 27, 0.3) 50%,
      rgba(10, 19, 27, 0.5) 100%
    ),
    url(https://img1.wsimg.com/isteam/stock/2397);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  text-align: center;
  padding: 0.5em;
  // margin-top: 5.6em;
  transition: initial;
  width: 100%;
  height: 80vh;

  #inner-box {
    position: relative;
    display: block;
    padding: 6rem 0;
    margin: auto;
    transition: initial;
    z-index: 1;

    h1 {
      color: #fff;
    }

    .button {
      font-size: 14px;
      margin-bottom: 1rem;
      width: 80%;
      max-width: 300px;
    }

    .button:hover {
      background-color: color(buttonHover);
    }
  }
}




/*
 * BUTTONS
 *
 */

.button, .login-button, .loginpage-button, .blueButton {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: all 400ms ease;
}

.button, .blueButton {
  padding: 1em 2em;
  background-color: color(button);
  color: #fff;
}

.button:hover, .blueButton:hover {
  background-color: color(buttonHover);
}

.button {
  font-size: 1em;
}

.login-button {
  padding: .8em 1.6em;
  background-color: color(navButton);
  color: #fff;
  font-size: 0.9em;
  // border: 2px solid color(navButton);
}

.login-button:hover {
  background-color: color(navButtonHover);
  color: #fff;
}

.blueButton {
  font-size: 0.9em;
  margin-top: 1em;
}

.blueButton:focus {
  outline: none;
}

.loginpage-button {
  padding: .8em 1.6em .8em 1.4em;
  background-color: color(navButton);
  color: #fff;
  // font-size: 14px;
  font-size: 1em;
  margin: auto;
  text-align: center;
  // vertical-align: middle;
}

.loginpage-button:hover {
  background-color: color(navButtonHover);
}

.subscribeButton {
  font-size: 0.8em;
  padding: .8em 3.2em;
  border: none;
}



.link {
  color: rgb(0, 117, 193);
  text-decoration: none;
}

.smallLink {
  font-size: 0.9em;
}




/*
 * GENERAL
 *
 */

.mainsection {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
  z-index: 2;
}

/* FOR LOGIN FORM */
input:focus,
select:focus,
textarea:focus,
button:focus,
[contenteditable="true"]:focus {
  outline: none;
}



/*
 * FOOTER
 *
 */

.footer {
  text-align: center;
  margin: auto;
}

.footer-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3em 8em;
}

.footer-children {
  font-size: 0.9em;
}

.footer-children:first-of-type {
  text-align: left;
}

.footer-children:last-of-type {
  color: #999;
  text-align: right;
}

.nested {
  display: grid;
  grid-template-columns: 30px auto;
  grid-gap: 0.5em;
}


.loadingPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 252, 252);
}

.largeLoader {
  height: 50px;
  width: auto;
}



// .abContainer {
//   display: flex;
//   width: 80%;
//   margin: 0px auto;
//   justify-content: space-around;
//   padding-bottom: 4rem;
// }

.abContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3em;
  width: 75%;
  margin: 0px auto;
  padding-bottom: 4em;

  h3 {
    margin-top: 1em;
  }
}

.abImage1,
.abImage2,
.abImage3 {
  height: auto;
  width: 100%;
}

.abImage1,
.abImage2,
.abImage3 {
  clip-path: circle();
}

.abImage1 {
  clip-path: circle(39% at 65% 50%);
  transform: translateX(-15%);
}


.socialMediaWrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 4em auto;
}

.socialIconContainer {
  display: flex;
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 3em;
  background-color: color(mainBlue);
  border-radius: 50%;
  // align-items: center;
  // justify-content: center;
}

.socialIconContainer:last-of-type {
  margin-right: 0;
}

.socialIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}




.subscribeWrapper {
  display: flex;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(10, 19, 27, 0.7) 0%,
      rgba(10, 19, 27, 0.5) 50%,
      rgba(10, 19, 27, 0.7) 100%
    ),
    url(http://img1.wsimg.com/isteam/stock/10792);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position-y: 58%;
  // background-position-y: -380px;
  color: white;
  padding: 5em 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  h3 {
    color: white;
    font-size: 2em;
  }
}

.subscribeFormWrapper {
  display: flex;
}

.subscribeText {
  //
}

.subscribeField {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  width: 400px;
  margin-right: 2em;
  border: none;
}


/*
 * MARGINS & POSITIONING
 *
 */

.topMargin {
  margin-top: 6em;
}

.topMoreMargin {
  margin-top: 8em;
}

.topExtraMargin {
  margin-top: 10em;
}


.leftMargin {
  margin-left: 2rem;
}

.centered {
  text-align: center;
}

.marginCentered {
  margin: 0px auto;
}

.rightPos {
  position: absolute;
  right: 25%;
}

.rightFloat {
  float: right;
  margin-right: 25%;
}

.vertical-align {
  display: flex;
  align-items: center;
}




/*
 * LOGIN PAGE - XCEL CLONE
 *
 */

.login-container {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  grid-gap: 2em;
  width: 66%;
  margin: 0px auto;

   h3 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 400;
    color: #222;
  }
}

.login-box, .login-info {
  position: relative;
  padding: 2rem;
  width: 100%;
  background-color: color(containerGray);
  // border: 1px solid #ccc;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
  border-radius: 5px;
}

.login-box {
  min-width: 200px;
  padding: 2rem 4rem;

  div {
    text-align: left;
  }
}

.login-info {
  padding: 2rem;
  color: #222;
  text-align: left;

  h3 {
    text-align: center;
  }

  ul {
    text-align: left;
    list-style-type: circle;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 0.9em;

    li {
      padding-top: 5px;
    }
  }

  div {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.signUpLink {
  position: relative;
  text-align: center;
  transform: translateX(-50%);
  
}

.remember {
  margin-left: 2px;
}


.login-label {
  margin-bottom: 10px;
  position: relative;
  margin-left: 2px;
  color: #222;
}

.login-text {
  vertical-align: middle;
  font-size: 0.9em;
}

.login-input {
  width: 100%;
  height: 2.5em;
  padding: 5px;
}

.loginLink {
  text-align: right;
  margin-right: 5px;
  margin-top: 5px;
}

.buttonContainer {
  text-align: right;
  align-items: right;
  float: right;
}

.regLink {
  margin-right: 5px;
}

.loginpage-button {
  padding: .8em 1.6em .8em 1.4em;
  background-color: color(navButton);
  color: #fff;
  font-size: 14px;
  margin: auto;
  text-align: right;
  text-transform: uppercase;
  // vertical-align: middle;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
}

.loginpage-button:hover {
  background-color: color(navButtonHover);
}



// REGISTRATION FORM
.req {
  color: rgb(214, 51, 51);
  font-weight: 900;
}





// FAQ PAGE


.faqContainer {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.faq {
  flex: 2;
  width: auto;
  height: auto;
}

.faq h3 {
  font-family: "Roboto", Montserrat, "Open Sans", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  font-size: 1.1rem;
  font-weight: 500;
  color: #5e5e5e;
}

.faq p {
  font-family: "Roboto", "Open Sans", Helvetica, Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "sans-serif";
  font-size: .9rem;
  color: #5e5e5e;
  font-weight: 400;
  line-height: 1.4rem;
}

.faqImgContainer {
  flex: 1;
  margin-right: 4em;
  margin-top: 1rem;
}

.faqImg {
  width: 100%;
  height: auto;
}







::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
  font-size: 0.85em;
  padding-left: 0.5em;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
  font-size: 0.9em;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
  font-size: 0.9em;
}



/*
 * USER PORTAL - ACCOUNT INFO
 *
 */

.userInfoRow {
  display: grid;
  grid-gap: .5em;
  grid-template-columns: 220px auto;
  padding: .5em 0;
  border-bottom: 1px solid #ccc;
}

.userInfoVar {
  font-weight: bold;
}

.userInfoVal {
  font-weight: initial;
}

.loader {
  width: auto;
  height: 30px;
}

.validating {
  top: 7px;
  right: 7px;
  z-index: 200;
  height: 16px;
  width: 16px;
  background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==)
}

.alert {
  padding: 0.5em 1em;
  font-size: 0.8em;
  border-radius: 6px;
  font-family: "Segoe UI";
}

.alert-danger {
  background-color: rgb(255, 204, 215);
  color: #85001e;
}

.alert-success {
  background-color: rgb(217, 240, 209);
  color: #215f0c;
}

.flashMessage {
  width: 50%;
  padding: 1em 4em;
  margin: 2em 0;
  text-align: left;
  background-color: rgb(255, 248, 187);
  border-left: 5px solid rgb(255, 235, 59);
  // background-image: linear-gradient(to right, rgba(255, 248, 187, 1), rgba(255, 248, 187, 0));
}

.flashTest {
  display: initial;
  position: absolute;
  top: 20%;
  right: 66%;
  transform: translateX(50%);
  transition: display 200ms ease;
  padding: 1em 4em;
  text-align: left;
  background-color: rgb(255, 248, 187);
  border-left: 5px solid rgb(255, 235, 59);
}

.hidden {
    display: none;
  }

.offlineMessage {
  width: 100%;
  padding: .6em;
  background-color: color(mainBlue);
  color: white;
  font-size: 0.8em;
  text-align: center;
}

.loaderIcon {
  height: 20px;
  width: auto;
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 3px;
    right: 4px;
    height: 20px;
    width: 20px;
    right: -5px;
    clip-path: circle();
    background-color: #ccc;
    cursor: pointer;
  }
}


/*
 * TABS
 *
 */

 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1.5em;
  height: 50vh;

  h3, h4, h5 {
    margin: 0;
    padding: 0;
  }
}





/*
 * PORTAL
 *
 */

.portalWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 400px);
  grid-gap: 2em;
  width: 80%;
  max-width: 1000px;
  margin: 40px auto;
  margin-bottom: 100px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.portalIntroWrapper {
  position: relative;

  h3 {
    position: relative;
    display: inline-block;
  }
}

.portalEvents {
  position: relative;
  width: 100%;
  background-color: color(containerGray);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.portalEventsInner {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-flow: column;
  height: 100%;

  & h4 {
    padding: 0;
    margin: 0;
    margin-bottom: .6em;
  }

  & input {
    position: relative;
    width: 100%;
    border: none;
    padding: 1em;
    font-size: .8em;
    color: #666;
  }

  & input::-webkit-input-placeholder, 
  & input:-moz-placeholder,
  & input::-moz-placeholder,
  & input:-ms-input-placeholder {
    color: #ccc !important;
    text-transform: uppercase;
    }

  & .eventsList {
    position: relative;
    background-color: #fff;
    flex-grow : 1;
    overflow-y: auto;
    // max-height: 100%;
    // max-height: calc(100% - 10px);
  }
}

.userEvents {
  position: relative;
  padding: 1em;
  background-color: #fff;
}

#eventsList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#eventsList::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#eventsList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #888;
}

#eventsList::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

ul {
  margin: 0;
  padding: 0;
}

li {
  position: relative;
}




// EVENTS

.eventLi {
  position: relative;
  display: block;
  border-bottom: 1px solid #999;
  padding: 1em;
  font-size: 0.75em;

  &:last-of-type {
    border-bottom: none;
  }
}

.iconWrapper {
  position: relative;
  float: right;
  z-index: 1;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: -5px;
  //   bottom: -5px;
  //   left: -5px;
  //   right: -5px;
  //   cursor: pointer;
  //   border-radius: 50%;
  //   // box-shadow: 1px 1px 2px #333;
  //   background-color: #ebebeb;
  //   // border: 1px solid #bbb;
  //   opacity: 0;
  //   transform: scale(0);
  //   transition: opacity 0ms ease, transform 400ms ease;
  //   z-index: -1;
  // }

  // &:hover::after {
  //   opacity: 1;
  //   transform: scale(1);
  // }
}

.feather {
  position: relative;
  color: #333;
  cursor: pointer;
  // font-size: 12px;
  height: 16px;
  width: auto;
  opacity: 1;
  z-index: 2;
  transition: opacity 200ms ease;

  &:hover {
    opacity: 0.6;
  }
}

.addButton {
  float: right;
}

.calendarButton {
  margin-right: 1em;
}

.eventDate {
  font-size: 0.8em;
}






// REGISTRATION PAGE

.stepContainer {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 3.5em auto 2.5em auto;
}

.registrationPage {
  h1, h2 {
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #0075c1;
  }

  h3, h4, h5, h6 {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }

  h3 {
    margin-left: 20px;
  }

  a {
    display: block;
    text-align: center;
    color: #0075c1;
    margin-bottom: 10px;
  }

  p {
    max-width: 500px;
    margin: 10px auto;
    text-align: center;
    & > a {
      display: inline;
    }
  }
}

.wizardForm {
  width: 50vw;
  margin: 25px auto;
  border: 1px solid #ccc;
  padding: 10px 30px 30px 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
  text-align: left;

  & > div {
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr auto;
    grid-gap: 1em;
    margin-bottom: .5em;

    &:last-of-type {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    & input {
      width: 100%;
      border: 1px solid #999;
    }
  }
}


// GOOGLE MAPS STYLES

h1, h2, h3 {
  font-family: "Open Sans Condensed";
}

.electives, .core {
  position: relative;
  display: inline;
  color: #fff;
  /* font-style: italic; */
  font-family: "Lato";
  text-transform: uppercase;
  margin-left: 8px;
}

.core::after, .electives::after {
  position: absolute;
  content: '';
  top: -2px;
  bottom: -2px;
  left: -8px;
  right: -8px;
  border-radius: 4px;
  z-index: -4;
}

.core::after {
  background-color: rgb(240, 79, 74); /* #3474B9; #274888; */
}

.electives::after {
  background-color: #569CD3; /* #3474B9; #274888; */
}

/* Set the size of the div element that contains the map */
#map {
  margin: 0;
  padding: 0;
  height: 600px;
  width: 80%;
  max-width: none;
}

#map img {
  max-width: none !important;
}

.gm-style-iw {
  position: relative;
  width: 200px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  /* border-radius: 2px 2px 10px 10px; */
  border-radius: 10px;
  /* opacity: .01;
  transition: opacity 2000ms ease; */
  z-index: -5;
}

#iw-container {
  margin-bottom: 10px;
  width: 200px;
  overflow-x: hidden;
}

#iw-container .iw-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 22px;
  font-weight: 400;
  width: 180px;
  padding: 10px 10px 10px 10px;
  background-color: #3474b9;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
}

#iw-container .iw-content {
  width: 200px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 0px;
  padding: 15px 0px 20px 15px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}

.iw-content img {
  float: right;
  margin: 0 0px 5px 10px;
}

.iw-content ul {
  /* margin:0; */
  padding:0 0 0 2em;
  list-style-type: circle;
}

.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0px 2px;
}

.iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 45px;
  bottom: 0px;
  right: 18px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.xbg::after {
  content: "";
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  background-color: #fff;
  border: 2px solid #fff;
  clip-path: circle();
  z-index: -3;
  float:right;
}


/*--------------------
Mixins
--------------------*/
@mixin center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin ball {
  @include center;
  top: 50%;
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  clip-path: circle();
  background: #fff;
  z-index: 2;
  margin-top: 4px;
  animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}

@keyframes ball { 
  from {
    transform: translateY(0) scaleY(.8) scaleX(.8);
    
  }
  to {
    transform: translateY(-10px);
  }
}


/*--------------------
Button
--------------------*/
.btn {
  @include center;
  bottom: 10px;
  
  & button {
    display: flex;
    border: 2px solid #0a7fad;
    border-radius: 20px;
    color: #0a7fad;
    text-transform: uppercase;
    background: none;
    padding: 0 46px;
    font-weight: 700;
    height: 40px;
    width: 177px;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease-in-out;

    &:hover {
      background: #0a7fad;
      color: #fff;
    }
  }
  
  &.loading {
    
    &::before {
      @include ball;
      animation-delay: .15s;
    }
    
    & button {
      font-size: 0;
      width: 40px;
      background: #0a7fad;
      
      &::before {
        @include ball;
        margin-left: -10px;
      }
      
      &::after {
        @include ball;
        margin-left: 10px;
        animation-delay: .3s;
      }
    }
  }
}

/*--------------------
Message
--------------------*/
.message {
  @include center;
  z-index: 3;
  width: 360px;
  height: 145px;
  color: #fff;
  // 0a5e79
  // 2ba888
  background: linear-gradient(135deg, #0a4d79, #2b8fa8);
  border-radius: 120px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);

  padding: 36px;
  transition: all .3s ease-in-out .3s;
  transform: scale(0) translate(-50%, -100%);
  transform-origin: 0 0;
  opacity: 0;
  user-select: none;
  
  & .title {
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-weight: 700;
    margin-bottom: 12px;
    position: relative;
    transition: all .3s ease-in-out .2s;
    transform: scale(0) translateY(-20%);
    opacity: 0;
    -webkit-backface-visibility: hidden;
  }
  
  & .msg {
    font-size: 14px;
    line-height: 1.4;
    font-style: italic;
    position: relative;
    transition: all .3s ease-in-out .1s;
    transform: scale(0) translateY(-20%);
    opacity: 0;
    -webkit-backface-visibility: hidden;
  }
  
  & .close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    cursor: pointer;
    width: 18px;
    height: 18px;
    transition: all .3s ease-in-out 0s;
    transform: scale(0) translateY(-20%);
    opacity: 0;
    
    & svg {
      width: 18px;
      height: 18px;
    }
  }
  
  &.message-error {
    background: linear-gradient(135deg, #f0223e, #f34238);
  }
}

.message.active {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  transition: all .3s cubic-bezier(0,1.07,.48,1.11) .1s;
  border-radius: 12px;
  
  & .title {
    opacity: 1;
    transition: all .3s cubic-bezier(0,1.07,.48,1.11) .3s;
    transform: scale(1) translateY(0);
  }
  
  & .msg {
    opacity: 1;
    transition: all .3s cubic-bezier(0,1.07,.48,1.11) .4s;
    transform: scale(1) translateY(0);
  }
  
  & .close {
    opacity: 1;
    transition: all .3s cubic-bezier(0,1.07,.48,1.11) .55s;
    transform: scale(1) translateY(0);
  }
  
}

.message.closing {
  opacity: 0;
  transform: scale(0) translate(-50%, -50%);
  
  & .title,
  & .msg,
  & .close {
    opacity: 0;
    transform: scale(0) translateY(0);
  }
  
}





/********************************************************************
 *                          MEDIA QUERIES
 *
 *******************************************************************/

 @media (max-width: 990px) {

  h1 {
    font-size: 4em;
  }

  header {
    height: 70vh;
  }

  .more-links {
    display: initial !important;
    padding-right: 1em;
  }

  .toHide {
    display: none !important;
  }

  .wizardForm {
    width: 66vw;
  }

  // .subscribeWrapper {
  //   display: flex;
  //   position: relative;
  //   background: linear-gradient(
  //       to right,
  //       rgba(10, 19, 27, 0.7) 0%,
  //       rgba(10, 19, 27, 0.5) 50%,
  //       rgba(10, 19, 27, 0.7) 100%
  //     ),
  //     url(http://img1.wsimg.com/isteam/stock/10792);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-origin: border-box;
  //   // background-position-y: 58%;
  //   // background-position-y: -380px;
  //   color: white;
  //   padding: 5em 0;
  //   width: 100%;
  //   height: 100%;
  //   align-items: center;
  //   justify-content: center;
  // }
  }

@media (max-width: 870px) {
  // .logo-img {
  //   margin-left: 1.5rem;
  // }

  .logoWrapper {
    margin-left: 1.5rem;
  }

  .login-links {
    margin-right: 2rem;
  }

  .more-links {
    padding-right: 0;
  }

  .wizardForm {
    width: 75vw;
  }
}


@media (max-width: 800px) {

  .right-buttons, .login-button {
    display: none !important;
  }

  .top-row-links {
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
  }

  .more-links {
    padding-right: 0;
  }

  .more-links-login {
    display: inline-block !important;
    text-align: center;
    width: 150px;
    margin: 0;
    padding: 1em;
    cursor: pointer;
    color: black;

    &:hover {
      background-color: rgb(245,247,248);
      // color: color(navLinkHover);
    }
  }
    
}

@media(max-width: 725px) {
  .hamburger-icon {
    display: initial !important;
  }

  .top-row-links, .right-buttons {
    display: none !important;
  }
}



// ABOUT US
